html {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-overflow-scrolling: touch;
}

.noSelect {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

body {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.068);
    color: rgba(59, 59, 59, 0.767);
    cursor: pointer;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

.mainPageBtn {
    display: none;
    font-size: x-small;
    background-color: transparent;
    border-radius: 15px;
    padding: 12px;
    margin: 10px;
    transition: transform .2s ease-in-out;
    box-shadow: 1.5px 1.5px 3.5px 0 rgba(0, 0, 0, 0.2), -2px -2px 4.5px 0 rgba(255, 255, 255, 0.55);
}

.show_hideToggle {
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    margin: 20px;
}

.hideableControls {
    transition: transform .2s ease-in-out;
}

.hideableControlsContent {
    padding: 5px;
    border-radius: 30px;
    transition: transform .2s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

.hiddenFullScreenView {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transition: transform .3s ease-in-out;
}

.controlBtn {
    background-color: transparent;
    font-weight: 100;
    color: rgba(109, 109, 109, 0.767);
    font-family: monospace;
    font-size: small;
    border-radius: 10px;
    padding: 9px;
    margin: 6.5px;
}

.controlBtn:hover {
    box-shadow: none
}

#FlightParamDisp {
    font-family: monospace;
    color: rgba(109, 109, 109, 0.945);
}

#FlightParamDispL {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 5px;
    transition: transform .2s ease-in-out;
    transform: translateY(-10px);
}

#MidUpperMenu {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 15px;
    max-width: calc(100% - 10px);
    transform: translate(-50%, 0);
    text-align: center;
}

#FlightParamDispMid {
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100%);
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

.FlightParamDispMidCell {
    padding-left: 8px;
    padding-right: 8px;
}

#FlightParamDispR {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 5px;
    transition: transform .2s ease-in-out;
    transform: translateY(-10px);
}

#plotView {
    transform: translate(0, 100%);
}

#menuToggle {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 15px;
    background: transparent;
    max-width: calc(100% - 100px);
    transform: translate(-50%, 0);
    padding: 15px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

#menuView {
    transform: translate(0, 100%);
    color: rgba(59, 59, 59, 0.767);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#controlsL {
    bottom: calc(40% + 47px);
}

#controlsR {
    bottom: calc(40% - 150px);
}

.singleFunctionCell {
    border-radius: 30px;
    box-shadow: inset 1.5px 1.5px 3.5px 0 rgba(0, 0, 0, 0.2), inset -2px -2px 4.5px 0 rgba(255, 255, 255, 0.55);
    padding: 10px;
    background-color: rgba(216, 216, 216, 0.541);
    margin: 10px;
}

.scenarioPreset {
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
}

#welcomeView {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.welcomeViewBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.welcomeViewBlockDiv {
    width: 70%;
    max-width: 479px;
    border-style: solid;
}

.welcomeViewText {
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    #controlsL {
        bottom: calc(40% - 80px)
    }
    #controlsR {
        bottom: calc(40% - 80px)
    }
}