html {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-overflow-scrolling: touch;
}

* {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

body {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    transition: box-shadow 0.3s ease-in-out;
    background-color: white;
    color: rgba(59, 59, 59, 0.767);
    cursor: pointer;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

.mainPageBtn {
    display: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
}

.mainPageBtn:hover {
    box-shadow: none
}

.show_hideToggle {
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    margin: 20px;
}

.hideableControls {
    transition: transform .2s ease-in-out;
}

.hideableControlsContent {
    padding: 10px;
    border-radius: 30px;
    transition: transform .2s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

.dispSizeAdjustmentBtn {
    font-size: x-large;
    text-align: center;
}

.hiddenFullScreenView {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transition: transform .3s ease-in-out;
}

.controlBtn {
    background-color: transparent;
    font-weight: 100;
    font-family: monospace;
    border-radius: 10px;
    padding: 10px;
    margin: 5.5px;
}

.controlBtn:hover {
    box-shadow: none
}

#FlightParamDisp {
    font-family: monospace;
    color: rgba(59, 59, 59, 0.767);
}

#FlightParamDispL {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 70px;
    padding: 5px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

#MidUpperMenu {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 15px;
    max-width: calc(100% - 100px);
    transform: translate(-50%, 0);
    text-align: center;
}

#FlightParamDispMid{
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100%);
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    transition: transform .2s ease-in-out;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
}

.FlightParamDispMidCell{
    padding-left: 8px;
    padding-right: 8px;
}

#FlightParamDispR {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 70px;
    padding: 5px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

#plotView {
    transform: translate(0, 100%);
}

#menuView {
    transform: translate(0, 100%);
}

#controlsL {
    bottom: calc(40% + 47px);
}
#controlsR {
    bottom: calc(40% - 150px);
}

@media only screen and (min-width: 500px) {
    #controlsL {
        bottom: calc(40% - 80px)
    }
    #controlsR {
        bottom: calc(40% - 80px)
    }
}